$hoverGreen:#72D085;
$blackish:#333333;
@font-face {
  font-family: Aeonik-Air;
  src: url('fonts/Aeonik-Air.otf');
  font-weight: normal;
}
@font-face {
  font-family: Aeonik-AirItalic;
  src: url('fonts/Aeonik-AirItalic.otf');
  font-weight: normal;
}
@font-face {
  font-family: Aeonik-Black;
  src: url('fonts/Aeonik-Black.otf');
  font-weight: normal;
}
@font-face {
  font-family: Aeonik-BlackItalic;
  src: url('fonts/Aeonik-BlackItalic.otf');
  font-weight: normal;
}
@font-face {
  font-family: Aeonik-Regular;
  src: url('fonts/Aeonik-Regular.otf'); 
  font-weight: normal;
}
@font-face {
  font-family: Aeonik-RegularItalic;
  src: url('fonts/Aeonik-RegularItalic.otf'); 
  font-weight: normal;
}
@font-face {
  font-family: Aeonik-Medium;
  src: url('fonts/Aeonik-Medium.otf'); 
  font-weight: normal;
}
@font-face {
  font-family: Aeonik-MediumItalic;
  src: url('fonts/Aeonik-MediumItalic.otf'); 
  font-weight: normal;
}
@font-face {
  font-family: Aeonik-Bold;
  src: url('fonts/Aeonik-Bold.otf');
  font-weight: normal;
}
@font-face {
  font-family: Aeonik-BoldItalic;
  src: url('fonts/Aeonik-BoldItalic.otf');
  font-weight: normal;
}
@font-face {
  font-family: Aeonik-Light;
  src: url('fonts/Aeonik-Light.otf');
  font-weight: normal;
}
@font-face {
  font-family: Aeonik-LightItalic;
  src: url('fonts/Aeonik-LightItalic.otf');
  font-weight: normal;
}
@font-face {
  font-family: Aeonik-Thin;
  src: url('fonts/Aeonik-Thin.otf'); 
  font-weight: normal;
}
@font-face {
  font-family: Aeonik-ThinItalic;
  src: url('fonts/Aeonik-ThinItalic.otf'); 
  font-weight: normal;
}

body{
  font-family:'Aeonik-Regular';
  margin:0;
  padding:0;
  color:$blackish;
  background-color:lightgray;
}
p, h1, h2, h3, h4, ul, li{
  margin:0;
  padding:0;
  list-style: none;
}
// Buttons
.get-started{
  padding: 15px 40px;
  background: linear-gradient(98.24deg, #53CCF2 0%, #5739CB 100%);
  line-height: 1;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  outline: none;
  border: none;
  color:white;
  display: inline-block;
  cursor:pointer;
  white-space: nowrap;
  @media screen and (min-width: 640px) {
    padding: 20px 50px;
    font-size: 24px;
  }
  
}
// End of Buttons

// Header
.header-wrp{
  position:fixed;
  width:100%;
  z-index: 333;

  
  .header{
    padding: 20px;
    @media screen and (min-width: 800px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .get-started{
    display:none;
  }
  .logo-link{
    .logo-m,
    .logo-m-black{
      width: 80px;
      @media screen and (min-width: 850px) {
        display:none;
      }
    }
    .logo-m-black{
      display:none;
    }
    .logo-d,
    .logo-d-black{
      display:none;
      @media screen and (min-width: 850px) {
        display:block;
        width: 200px;
      }
      @media screen and (min-width: 1000px) {
        width: 275px;
      }
      @media screen and (min-width: 1200px) {
        width: 350px;
      }
    }
    .logo-d-black{
      display:none;
    }
  }
  .hambaga-btn-wrp{
    position: absolute;
    z-index: 1111;
    top: 0;
    right: 0;
    height: 75px;
    width: 70px;
    cursor: pointer;
    @media screen and (min-width: 850px) {
      display:none;
    }
    
    .hambaga-btn {
      position: absolute;
      top: 25px;
      left: 15px;
      width: 40px;
      height: 30px;
      span{
        position: absolute;
        transition-duration: .3s;
        &:after{
          content: '';
          display: block;
          width: 40px;      
          height: 3px;
          background-color: white;
          border-radius: 25px;
        }
        &:nth-child(2){
          top: 10px;
        }
        &:nth-child(3){
          top: 20px;
        }
      }

      &.close-btn{
        span{
          &:after{
            background-color: $blackish;
          }
          &:nth-child(3){
            top: 14px;
            transform:rotate(55deg);
          }
          &:nth-child(2){
            top: 14px;
            transform:rotate(-55deg);
          }
          &:nth-child(1){
            display:none;
          }
        }
      }
    }
  }
  .sticky-logo{
    display:none;
  }
  .links-wrp a{
    color:$blackish;
    
  }
  .links-wrp a,
  .links a{
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 3;
    letter-spacing: 3px;
    width: 100%;
    text-align: center;
  }
  .links {
    display:none;
    @media screen and (min-width: 850px) {
      display: block;
      width: 60%;
      text-align: right;
    }
    a{
      font-family: 'Aeonik-Medium';
      color:white;
      @media screen and (min-width: 800px) {
        font-size: 16px;
        margin: 0 10px;    
      }
      @media screen and (min-width: 1000px) {
        font-size: 18px;
        margin: 0 15px;
      }
    }
  }

  .mbl-menu {
    display:none;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    height: 100%;
    height: 100vh;
    z-index: 111;
    .links-wrp{
      padding: 0 20px;
      padding-top: 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .logo-wrp{
      padding: 50px 0;
      a{
        display: block;
        img{
          width: 260px;
          margin: 0 auto;
          display: block;
        }
      }
    }
    .socials{
      display: flex;
      width: 100%;
      max-width: 320px;
      margin: 0 auto;
      border-top: 1px solid $blackish;
      justify-content: space-evenly;
      padding: 50px 0;
      a{
        width: 45px;
        height: 45px;
        img{
          width: 100%;
        }
        &.fill-bg{
          background-color: $blackish;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
      
          img{
            width: 25px;
            margin-top: -2px;
          }
        }
      }
    }
    p{
      text-align: center;
      font-size: 12px;
      letter-spacing: 2px;
      padding: 0 20px;
      span{display:inline-block}
    }
  }



  //sticky header
  &.sticky{
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(7px);

    .hambaga-btn-wrp{
      .hambaga-btn {
        span{
          &:after{
            background-color: $blackish;
          }
        }
      }
    }
    .logo-link{
      .logo-m,
      .logo-d{
        display:none;
      }
      .logo-m-black{
        display:block;
        @media screen and (min-width: 850px) {
          display:none;
        }
      }
    }
    .links {
      a{
        color: $blackish;
        
      }
      width:unset;
    }
    .get-started {
      @media screen and (min-width: 850px) {
        display: block;
        text-decoration: none;
        padding: 15px 30px;
        font-size: 18px;
      }
    }
    .sticky-logo{
      @media screen and (min-width: 850px) {
        display:block;
      }
     
      img{
        width: 165px;
      }
    }
  }

  &.sticky.stopped{
    display:none;
  }
  &.sticky.stopped.hover{
    display:block;
  }
}
// End of Header
// Video background
.sctn-wrp.bg-video{
  position:relative;
  .video-bg{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 111;
    overflow: hidden;
    aspect-ratio: 16/9;
    pointer-events: none;
    padding: 0;

    video{
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-size: cover;
      transform: translate(-50%, -50%);

      @media screen and (min-width: 1600px) {
        width: 100%;
        height: 150%;
      }
    }
  }

  .sctn{
    background:url('images/bg-overlay-m.png')center top no-repeat;
    background-size:cover;
    background-color: rgba(0, 0, 0, 0.75);
    position: relative;
    z-index: 222;
    @media screen and (min-width: 640px) {
      background:url('images/bg-overlay-d.png')center top no-repeat;
      background-size:cover;
      background-color: rgba(0, 0, 0, 0.75);
    }
    @media screen and (min-width: 1000px) {
      padding-left: 100px;
      padding-left: 10%;
    }
    @media screen and (min-width: 1200px) {
      padding:0 100px;
      padding:0 10%;
    }
    .content{
      padding-top: 75px;
      color:white;
      margin: 0 auto;
      @media screen and (min-width: 1000px) {
        padding-top: 200px;
        display: flex;
        align-items: flex-end;    
      }
      @media screen and (min-width: 1200px) {
        padding-top: 230px;
        max-width: 1400px;
      }
      .left-side{
        @media screen and (min-width: 1000px) {
          padding-bottom: 150px;
        }
        
        @media screen and (min-width: 1200px) {
          padding-bottom: 200px;
        }
        h1{
          font-size: 40px;
          text-align: center;
          margin: 0 auto;
          line-height: 1.1;
          padding: 50px;
          font-weight: normal;
          @media screen and (min-width: 640px) {
            font-size: 50px;
            max-width: 600px;
          }
          @media screen and (min-width: 1000px) {
            padding: 0;
            margin:0;
            margin-bottom: 75px;
            font-size: 65px;
            text-align: left;
          }
  
          span{
            font-weight:bold;
          }
        }
        .get-started{
          display:none;
          @media screen and (min-width: 1000px) {
            display: inline-block;
          }
        }
      }
      .left-side,
      .right-side{
        @media screen and (min-width: 1000px) {
          width:50%;
        }
      }
      .full-fill{
        background:url('images/x-mark.png')center top no-repeat;
        background-size: 280px;
        width: 280px;
        margin: 0 auto;
        min-height: 175px;

        @media screen and (min-width: 640px) {
          background-size: 420px;
          width: 420px;
          min-height: 270px;
        }
        @media screen and (min-width: 1100px) {
          background-size: 500px;
          width: 500px;
          min-height: 320px;  
        }
        @media screen and (min-width: 1200px) {
          background-size: 600px;
          width: 600px;
          min-height: 380px;
        }
      }
    }
  }
}
// End of Video background



.bnnr{
  //Closing cta
  &.bnnr-sign-up{
    background-color:white;
    .content{
      text-align: center;
      padding: 20px;
      padding-bottom: 100px;
      max-width: 800px;
      margin: 0 auto;
      @media screen and (min-width: 900px) {
        padding: 150px 20px;
      }
      h2{
        font-size: 24px;
        line-height: 1.4;
        margin-bottom: 20px;
        @media screen and (min-width: 500px) {
          font-size: 36px;
        }
        @media screen and (min-width: 800px) {
          font-size: 46px;
        }
        span{
          @media screen and (min-width: 600px) {
            display:inline-block;
          }
        }
      }
      p{
        color: #888888;
        margin-bottom: 40px;
        @media screen and (min-width: 500px) {
          font-size: 20px;
        }
        @media screen and (min-width: 800px) {
          font-size: 26px;
        }
      }
    }
  }
  //End of closing cta
  // Banner basic
  &.bnnr-basic{
    background-color:white;
    padding:100px 30px;
    .content{
      max-width:1200px;
      margin:0 auto;
      text-align: center;
      h2{
        font-size:24px;
        line-height:1.5;
        @media screen and (min-width: 800px) {
          font-size: 36px;
        }
        @media screen and (min-width: 1000px) {
          font-size: 46px;
        }
        span{display:inline-block;}
      }
    }
  }
  // End of Banner basic
}


//Footer
.sctn-wrp.footer{
  background: #1C1843;
  color: white;
  text-align: center;
  padding: 50px;
  padding-bottom: 30px;
  @media screen and (min-width: 800px) {
    padding:50px 0 0 0;
  }
  .sctn{
    .content{
      .logo{
        width: 170px;
        margin-bottom: 50px;
        @media screen and (min-width: 800px) {
          width: 260px;
        }
      }
      .icon-links {
        max-width: 250px;
        margin: 0 auto;
        display:flex;
        justify-content: center;
        margin-bottom: 50px;

        img {
          width: 30px;
          margin: 0 20px;
        }
      }
      .links-wrp{
        display: flex;
        justify-content: space-between;
        max-width: 300px;
        margin: 0 auto;
        margin-bottom: 40px;
        @media screen and (min-width: 800px) {
          justify-content: center;
          max-width: unset;
          padding: 30px;
        }

        &.footer-links-m{
          @media screen and (min-width: 800px) {
            display:none;
          }
        }
        &.footer-links-d{
          display:none;
          @media screen and (min-width: 800px) {
            display:flex;
          }
        }
        .footer-categories{
          display:flex;
          flex-direction: column;
          padding: 0 20px;
          @media screen and (min-width: 800px) {
            border-right: 1px solid #2D537D;
            text-align: left;
            &:last-child{
              border:none;
            }
          }
          @media screen and (min-width: 900px) {
            padding: 0 30px;
          }
          @media screen and (min-width: 1000px) {
            padding: 0 50px;
          }
          @media screen and (min-width: 1200px) {
            padding: 0 60px;
          }
          @media screen and (min-width: 1400px) {
            padding: 0 80px;
          }
          a, p, h4 {
            color: white;
            text-decoration: none;
            font-size: 12px;
            line-height: 1.5;
            letter-spacing: .5px;
            @media screen and (min-width: 800px) {
              line-height: 1.7;
            }
          }
          h2{
            font-size: 16px;
            font-family: 'Aeonik-Bold';
            letter-spacing: 3px;
            margin-bottom: 15px;
          }

          &.company{
            max-width:200px;
          }
        }
      }
      .legal {
        @media screen and (min-width: 800px) {
          background: #16162B;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px;
        }
        p.copyright{
          font-size: 12px;
          letter-spacing: .5px;
          width: 90%;
          max-width: 300px;
          margin: 0 auto;
          border-top: 1px solid #2E435B;
          padding-top: 30px;
          @media screen and (min-width: 800px) {
            border: none;
            width: unset;
            margin: 0;
            padding: 0;
          }
          
        }
      }
    }
  }
}
//End of footer

// Contact form
.popup-contact-wrp{
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 3333;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  backdrop-filter: blur(5px);

  &.show{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .popup-contact-content {
    max-width: 500px;
    max-height: 95vh;
    overflow: scroll;
    width: 90%;
    background-color: white;
    @media screen and (min-width: 900px) {
      max-width: 1000px;
    }
    .popup-contact {
      position: relative;
      display: flex;
      flex-direction: column;
      @media screen and (min-width: 800px) {
        flex-direction: row;
      }

      .close-contact{
        position: absolute;
        top: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
        cursor: pointer;

        &:after,
        &:before{
          content: "";
          display: block;
          position: absolute;
          width: 30px;
          height: 2px;
          background-color: #3333338f;
          border-radius: 25px;
          top: 23px;
          left: 10px;
        }
        &:before {
          transform: rotate(50deg);
        }
        &:after {
          transform: rotate(-50deg);
        }
      }
      .image-wrp{
        background:url('images/bg-contact.png') center center no-repeat;
        background-size:cover;
      }
      .frm-wrp{
        width: 100%;
        padding: 30px;
        box-sizing: border-box;

        @media screen and (min-width: 500px) {
          padding: 50px;
        }
        @media screen and (min-width: 500px) {
          padding: 50px;
        }
        .frm-header {          
          margin-bottom: 30px;
          h1{
            margin-bottom: 20px;
            padding-right: 35px;
          }
          div{
            color:#667085;
            font-size:14px;
            a{
              text-decoration:none;
              color:#6941C6;
              display:inline-block;
            }
          }
        }
        label{
          font-size:14px;
          color:#344054;
          margin-bottom:5px;
          display: block;
        }
        form{
          max-width: 400px;
          button.get-started {
            width: 100%;
            margin-top: 30px;
            padding: 15px 0;
          }
        }

        .input-wrp {
          display: flex;
          flex-direction: column;
          margin-bottom: 15px;

          input[type="text"],
          input[type="email"],
          input[type="tel"],
          textarea{
            border: 1px solid lightgrey;
            padding: 10px;
            border-radius: 5px;
            font-family: 'Aeonik-Light';
            letter-spacing: .8px;
            font-size:12px;
          }
          textarea{
            min-height: 60px;
          }
        }
        .checkboxes-container {
          label{
            display: block;
            margin-bottom:10px;
          }
        }
        .checkbox-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: center;
          .checkbox-wrp {
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
            p{
              width:160px;
              font-size: 14px;
              margin-left: 5px;
              @media screen and (min-width: 400px) {
                width:140px;
              }
            }
            &.strategy-consulting{
              p{
                @media screen and (min-width: 400px) {
                  width:150px;
                }
              }
            }
          }
          
        }
      }
      .image-wrp,
      .frm-wrp{
        @media screen and (min-width: 900px) {
          width:50%;
        }
      }
    }
  }
}
// End of contact form